<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Coin-API Admin:</p>
    <p>It's that time again! Coin machines in the system are running low (less than 4 coins total) of the following coin:</p>
    <h3><%= @coin.pluralize.camelcase(:upper) %></h3>
    <p>Please make additional currency available.</p><br>
    <p>Thank you,</p>
    <p>The Coin-API Team</p>
  </body>
</html>